.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 2.5rem;
  background-color: var(--color-primary);
  max-width: 1440px;
  margin-inline: auto;
}

.header.dark {
  background-color: var(--color-secondary);
  color: var(--color-secondary);
}

.header a {
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
}

.header__logo {
  color: var(--color-secondary);
  font-weight: 700;
}

.header__logo.dark {
  color: var(--color-primary);
}

.header__nav {
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__nav__links {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block-end: 0.2rem;
  color: var(--color-secondary);
}

.header__nav__links.dark {
  color: var(--color-primary);
}

.header__nav__links .active {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 0.2rem;
}

.header__nav__social {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block-start: 0.3rem;
}

.header__nav__social svg {
  width: 25px;
  fill: var(--color-secondary);
}

.header__nav__social button {
  all: unset;
  cursor: pointer;
  padding-inline-start: 1rem;
}

.header__nav__social.dark svg {
  fill: var(--color-primary);
}

.header__nav__social a {
  transition: 0.5s;
}

.header__nav__social a:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 0.5rem;
  }

  .header__nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  .header__nav__social {
    padding-block-start: 0;
  }

  .header__nav__social button {
    padding-inline-start: 0;
  }
}
