.projectPage {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  color: var(--color-secondary);
  padding-block-start: 4rem;
  padding-block-end: 6rem;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.projectPage.dark {
  color: var(--color-primary);
}

.projectPage a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projectPage__item {
  border-radius: 10px;
  border: 0.2rem solid var(--color-primary);
  transition: 0.5s;
}

.projectPage__item.dark {
  border: 0.2rem solid var(--color-secondary);
}

.projectPage__item:hover {
  border: 0.2rem solid var(--color-accent);
}

.projectPage__item img {
  border-radius: 5px;
}

.projectPage h3 {
  font-size: clamp(1rem, 0.6919rem + 1.3146vw, 1.875rem);
  padding-inline-start: 0.5rem;
}

.projectPage__item__skills {
  display: flex;
  gap: 0.5rem;
  padding-inline-start: 0.5rem;
  padding-block-end: 0.5rem;
}

@media only screen and (max-width: 1360px) {
  .projectPage {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 920px) {
  .projectPage {
    grid-template-columns: 1fr;
  }
}
